body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #3a7781;
        color: #EEEEEE;
    }
h1 {
        color:#A3C9AA ;
   }
h2 {
        color: #dbd4d4
   }
h3 {
        color:#EEEEEE
   }
p  {
        color: white;
   }
.container 
    {
        max-width: 600px;
    }

